/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.node {
  margin-left: 10px;
}

.node-strip {
	background-color: #04BAEE;
  min-height: 30px;
  border-bottom: solid 1px white;
  padding: 15px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.node-strip button {
  float: right;
  margin-right: 30px;
  background: none;
  border: solid 1px white;
  color: white;
  font-weight: bold;
}

.hidden {
  display: none;
}